<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Osunji"
    android:versionCode="9"
    android:versionName="2.6">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:icon="@drawable/appicon2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="true">
        <activity android:name="com.Osunji.RenameFilePopup"></activity>
        <activity android:name="com.Osunji.songEditActivity" />
        <activity android:name="com.Osunji.Girls" />
        <activity
            android:name="com.Osunji.deletePopup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name="com.Osunji.SetFileNameActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name="com.Osunji.ChooseSongActivity" />
        <activity
            android:name="com.Osunji.AddFolderPopupActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name="com.Osunji.RecordingActivity" />
        <activity android:name="com.Osunji.MainActivity" />
        <activity
            android:name="com.Osunji.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Osunji.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.Osunji.HelpActivity" />
        <activity
            android:name="com.Osunji.SheetMusicActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.mid"
                    android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Osunji.SheetMusicActivity2"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.mid"
                    android:scheme="file" />
            </intent-filter>
        </activity>
    </application>

</manifest>